<?xml version="1.0"?>
<config>
    <modules>
        <M1_Complaints>
            <!-- 0.1.4: renames the Polish columns to the English names used by the code -->
            <version>0.1.4</version>
        </M1_Complaints>
    </modules>
    <!--
        Changed: the module no longer declares its own "complaints" admin frontName and hooks into the
        adminhtml router instead, as required by Magento security patch SUPEE-6788. Admin URLs are now
        adminhtml/complaint/* instead of complaints/adminhtml_complaint/*. The frontend router was removed,
        the module has no frontend controllers.
    -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <M1_Complaints before="Mage_Adminhtml">M1_Complaints_Adminhtml</M1_Complaints>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <complaints>
                    <file>complaints.xml</file>
                </complaints>
            </updates>
        </layout>
        <events>
            <salesext29_item_save_after>
                <observers>
                    <complaint_save_product_data>
                        <type>singleton</type>
                        <class>complaints/observer</class>
                        <method>saveComplaintTabData</method>
                    </complaint_save_product_data>
                </observers>
            </salesext29_item_save_after>
            <salesext29_item_edit_before>
                <observers>
                    <complaint_delete_file>
                        <type>singleton</type>
                        <class>complaints/observer</class>
                        <method>delComplaintFile</method>
                    </complaint_delete_file>
                </observers>
            </salesext29_item_edit_before>
            <!--
                Removed: the stock_transfer_after_save observer called M1_Complaints_Model_Observer::stockComplaintTransfer(),
                which does not exist. Magento throws "Method is not defined" in developer mode and skips it otherwise.
            -->
        </events>
        <translate>
            <modules>
                <M1_Complaints>
                    <files>
                        <default>M1_Complaints.csv</default>
                    </files>
                </M1_Complaints>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <complaints>
                <class>M1_Complaints_Block</class>
            </complaints>
        </blocks>
        <helpers>
            <complaints>
                <class>M1_Complaints_Helper</class>
            </complaints>
        </helpers>
        <models>
            <complaints>
                <class>M1_Complaints_Model</class>
                <resourceModel>complaints_resource</resourceModel>
            </complaints>
            <!--
                Changed: Magento 1.6+ resource model naming (Model/Resource instead of Model/Mysql4).
                deprecatedNode keeps complaints_mysql4/* references in other modules working.
            -->
            <complaints_resource>
                <class>M1_Complaints_Model_Resource</class>
                <deprecatedNode>complaints_mysql4</deprecatedNode>
                <entities>
                    <item>
                        <table>complaints_items</table>
                    </item>
                </entities>
            </complaints_resource>
        </models>
        <resources>
            <complaints_setup>
                <setup>
                    <module>M1_Complaints</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </complaints_setup>
            <complaints_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </complaints_write>
            <complaints_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </complaints_read>
        </resources>
    </global>
</config>
