<?xml version="1.0"?>
<config>
    <modules>
        <M1_Complaints>
            <version>0.1.3</version>
        </M1_Complaints>
    </modules>
    <frontend>
        <routers>
            <complaints>
                <use>standard</use>
                <args>
                    <module>M1_Complaints</module>
                    <frontName>complaints</frontName>
                </args>
            </complaints>
        </routers>
    </frontend>
    <admin>
        <routers>
                <complaints>
                <use>admin</use>
                <args>
                    <module>M1_Complaints</module>
                    <frontName>complaints</frontName>
                </args>
            </complaints>
        </routers>
    </admin>
    <adminhtml>
        <layout>
          <updates>
            <complaints>
              <file>complaints.xml</file>
            </complaints>
          </updates>
        </layout>
        <events>
            <salesext29_item_save_after>
                <observers>
                    <complaint_save_product_data>
                        <type>singleton</type>
                        <class>complaints/observer</class>
                        <method>saveComplaintTabData</method>
                    </complaint_save_product_data>
                </observers>
            </salesext29_item_save_after>
            <salesext29_item_edit_before>
                <observers>
                    <complaint_delete_file>
                        <type>singleton</type>
                        <class>complaints/observer</class>
                        <method>delComplaintFile</method>
                    </complaint_delete_file>
                </observers>
            </salesext29_item_edit_before>
            <stock_transfer_after_save>
                <observers>
                    <complaint_delete_file>
                        <type>singleton</type>
                        <class>complaints/observer</class>
                        <method>stockComplaintTransfer</method>
                    </complaint_delete_file>
                </observers>
            </stock_transfer_after_save>
        </events>
        <translate>
            <modules>
                <M1_Complaints>
                    <files>
                        <default>M1_Complaints.csv</default>
                    </files>
                </M1_Complaints>
            </modules>
        </translate>
    </adminhtml>  
    <global>
        <blocks>
            <complaints>
                <class>M1_Complaints_Block</class>
            </complaints>
        </blocks>
        <helpers>
            <complaints>
                <class>M1_Complaints_Helper</class>
            </complaints>
        </helpers>
        <models>
            <complaints>
                <class>M1_Complaints_Model</class>
                <resourceModel>complaints_mysql4</resourceModel>
            </complaints>
            <complaints_mysql4>
                <class>M1_Complaints_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>complaints_items</table>
                    </item>
                </entities>
            </complaints_mysql4>
        </models>
        <resources>
            <complaints_setup>
                <setup>
                    <module>M1_Complaints</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </complaints_setup>
            <complaints_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </complaints_write>
            <complaints_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </complaints_read>
        </resources>
    </global>
</config>