<?xml version="1.0"?>
<config>
    <sections>
        <complaintsconfig translate="label" module="complaints">
        	<label>Complaints</label>
        	<tab>M1config</tab>
            <frontend_type>text</frontend_type>
        	<sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        	<groups>
                <complaints translate="label comment" module="complaints">
                    <label>Complaint module parameters</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>910</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <delay translate="label">
                            <label>Delay period (days)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[complaint service duration since shipment (default=30)]]></comment>
                        </delay> 
                        <filetypes translate="label">
                            <label>typy plików</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[alloed filetypes (separated by colon) protocols and complaints]]></comment>
                        </filetypes> 
                    </fields>
                </complaints>
            </groups>
        </complaintsconfig>
    </sections>
</config>